.git
.gitignore
**/.DS_Store
**/.vscode
**/*.log
**/node_modules
**/tmp
# Include dist/ for pre-built binaries from GoReleaser
# **/dist
**/bin
**/site
**/public
**/.env*
**/*.test
**/testforge.test
# Ignore test and example files
test/
**/*_test.go
*.md
!README.md
