# {{ titleCase .FrontMatter.repository }} Documentation

{{ range $section, $files := .Sections -}}
{{ if eq $section "root" }}## Documentation Files
{{ else }}## {{ titleCase $section }}
{{ end }}
{{ range $files }}- [{{ titleCase (replaceAll .Name "-" " ") }}](./{{ if .Section }}{{ .Section }}/{{ .Name }}{{ else }}{{ .Name }}{{ end }}/)
{{ end }}
{{ end }}
