{{ if .RepositoryInfo -}}
{{ if .RepositoryInfo.Description -}}
{{ .RepositoryInfo.Description }}

{{ end -}}
{{ if .RepositoryInfo.URL -}}
**Repository:** [{{ .RepositoryInfo.URL }}]({{ .RepositoryInfo.URL }})
{{ end -}}
{{ if .RepositoryInfo.Branch -}}
**Branch:** `{{ .RepositoryInfo.Branch }}`
{{ end -}}
{{ if .RepositoryInfo.Tags }}
**Tags:** {{ range .RepositoryInfo.Tags }}`{{ .Key }}:{{ .Value }}` {{ end }}
{{ end }}
{{ end }}

{{ range .Sections -}}
{{ if eq .Name "root" }}## Sections
{{ else }}## {{ titleCase .Name }}
{{ end }}
{{ range .Files }}- [{{ titleCase (replaceAll .Name "-" " ") }}](./{{ if .Section }}{{ .Section | lower }}/{{ .Name | lower }}{{ else }}{{ .Name | lower }}{{ end }}/)
{{ end }}
{{ end }}
