{{- if .Subsections -}}
{{- range .Subsections -}}
- <a href="{{ lower (replaceAll . " " "-") }}">{{ titleCase (replaceAll . "-" " ") }}</a>
{{ end -}}
{{- end -}}
{{- range .Files -}}
{{- if .IsAsset -}}
- <a href="{{ lower (replaceAll .Name " " "-") }}.{{ .Extension }}">{{ titleCase (replaceAll .Name "-" " ") }}</a>
{{- else -}}
- <a href="{{ lower (replaceAll .Name " " "-") }}">{{ titleCase (replaceAll .Name "-" " ") }}</a>
{{- end -}}
{{ end -}}

{{ "{{" }}% children description="true" %{{ "}}" }}
